<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>添加信息</h2>
    <form action="/new">
        <p>
            供应商名称：<input type="text" id="sn" name="sn" >
        </p>
        <p>
            地      址：<input type="text" id="sa" name="sa" >
        </p>
        <p>
            电      话：<input type="text" id="te" name="te" >
        </p>
        <p>
            银 行 名 字：<input type="text" id="bn" name="bn" >
        </p>
        <p>
            银 行 账 号：<input type="text" id="ba" name="ba" >
        </p>
        <p>
            银 行 行 号：<input type="text" id="bc" name="bc" >
        </p>
        <p>
            统一信用代码：<input type="text" id="scc" name="scc" >
        </p>
        <p>
            法人：<input type="text" id="ph" name="ph" >
        </p>
        <p>
            经营范围：<textarea type="text" id="rr" name="rr" style="height:100px;width:300px;"></textarea>
        </p>
        <p>
            联  系  人：<input type="text" id="pe" name="pe" >
        </p>
        <p>
            电     话：<input type="text" id="pn" name="pn" >
        </p>
        <p><input type="submit" value="提交"></p>
    </form>

</body>
</html>